<!DOCTYPE html>

<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/public/assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Home</title>

    <meta name="description" content="" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/public/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/public/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/public/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/public/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/public/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/public/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/public/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/public/assets/js/config.js"></script>
  </head>
  <body>
    <div class="layout-wrapper layout-content-navbar">
       <!-- Layout container -->
        <div class="layout-page">
                <Welcome class="mt-4 mb-3 text-muted"> Welcome to Tameen App</h6>
                <nav class="navbar navbar-example navbar-expand-lg bg-light">
                    <div class="container-fluid">
                    <a class="navbar-brand" href="javascript:void(0)"></a>
                    <button
                      class="navbar-toggler"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#navbar-ex-3"
                    >
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-ex-3">
                      <div class="navbar-nav me-auto">
                        <a class="nav-item nav-link" href="javascript:void(0)">Home</a>
                        <a class="nav-item nav-link" href="javascript:void(0)">Car</a>
                        <a class="nav-item nav-link" href="javascript:void(0)">Quote</a>
                      </div>
                      <form onsubmit="return false">
                        <button class="btn btn-outline-primary" type="button">Sign Out</button>
                      </form>
                    </div>
                    </div>
                </nav>
            </div>

   </div>





    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/public/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/public/assets/vendor/libs/popper/popper.js"></script>
    <script src="/public/assets/vendor/js/bootstrap.js"></script>
    <script src="/public/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="/public/assets/vendor/js/menu.js"></script>

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="/public/assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
  </body>
</html>
